parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - "#preg_replace_callback expects#"
        - "#assertMatchesRegula#"
